{% if site.tag_archive.type and page.tags[0] %}
  {% include tag-list.html %}
{% endif %}

{% if site.category_archive.type and page.categories[0] %}
  {% include category-list.html %}
{% endif %}

{% if site.tooltag_archive.type and page.tooltags[0] %}
  {% include tooltag-list.html %}
{% endif %}

{% if site.datatag_archive.type and page.datatags[0] %}
  {% include datatag-list.html %}
{% endif %}

{% if site.technologytag_archive.type and page.technologytags[0] %}
  {% include technologytag-list.html %}
{% endif %}

{% if site.techniqueytag_archive.type and page.techniquetags[0] %}
  {% include techniquetag-list.html %}
{% endif %}
