---
title: Projects listed by Data Science Process
---

{{ content }}

<h1>Chris Chung<h1>
<h2>Data Science Project Portfolio<h2>
  <br/>
  <p>Chris Chung is a data scientist with a background in retail who focuses on
    solving problems in the video game industry. Specifically, Chris uses Python and SQL to solve problems
    and generate insights to improve player retention and scale data systems using Tableau, AWS and regression.</p>
    <br/>
  <p>This data science portfolio is comprised of projects covering the full spectrum of the data science process. This portfolio’s projects apply Python and SQL within a data science context to provide value to computer game companies.</p>
  <br/>
  <br/>


<!-- Default -->
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<!-- End Default -->

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

  {% for post in site.categories.Import%Data %}
   <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  <!-- {% for post in site.categories.Store%Data %}
   <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->

  <!-- {% assign categories_max = 0 %}
  {% for category in site.categories %}
    {% if category[1].size > categories_max %}
      {% assign categories_max = category[1].size %}
    {% endif %}
  {% endfor %}

  <ul class="taxonomy__index">
    {% for i in (1..categories_max) reversed %}
      {% for category in site.categories %}
        {% if category[1].size == i %}
          <li>
            <a href="#{{ category[0] | slugify }}">
              <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>


  {% assign tags_max = 0 %}
  {% for tag in site.tags %}
    {% if tag[1].size > tags_max %}
      {% assign tags_max = tag[1].size %}
    {% endif %}
  {% endfor %}

  <ul class="taxonomy__index">
    {% for i in (1..tags_max) reversed %}
      {% for tag in site.tags %}
        {% if tag[1].size == i %}
          <li>
            <a href="#{{ tag[0] | slugify }}">
              <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
