---
layout: archive
title: Projects listed by Data Science Process
---

{{ content }}

<h1>Chris Chung<h1>

<h2>Data Science Project Portfolio<h2>

<h4>Chris Chung is a data scientist with a background in retail who focuses on
solving problems in the video game industry. Specifically, Chris uses Python and SQL to solve problems
and generate insights to improve player retention and scale data systems.<br><br>

This data science portfolio is comprised of projects covering the full spectrum of the data science process. This portfolio’s projects apply Python and SQL within a data science context to provide value to computer game companies.<br><h4>


<h2>Projects Listed by Data Science Process<h2>

<h3>1. Import Data<h3>

  <h5>{% for post in site.categories['Import Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>2. Store Data<h3>

  <h5>{% for post in site.categories['Store Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>3. Extract Data<h3>

  <h5>{% for post in site.categories['Extract Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>4. Organize<h3>

  <h5>{% for post in site.categories['Organize Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>5. Tidy<h3>

  <h5>{% for post in site.categories['Tidy Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>6. Transform Data<h3>

  <h5>{% for post in site.categories['Transform Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>7. Visualize Data<h3>

  <h5>{% for post in site.categories['Visualize Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>8. Model Data<h3>

  <h5>{% for post in site.categories['Model Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>9. Coding Model<h3>

  <h5>{% for post in site.categories['Coding Model'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>10. Understand the Data<h3>

  <h5>{% for post in site.categories['Understand the Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>11. Communication<h3>

  <h5>{% for post in site.categories['Communication'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>12. Next Steps<h3>

<h5>{% for post in site.categories['Next Steps'] %}<h5>
 <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
{% endfor %}

<h3>13. Document<h3>

  <h5>{% for post in site.categories['Document'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
   {% endfor %}






<!-- TAGS -->


<h2>Project Tags<h2>

<a name="techniquetags" > </a>

  <h3>Project Tags: Techniques <h3>
<!-- tags.html -->

{% include base_path %}
{% include group-by-array collection=site.posts field="techniquetags" %}

<h3><ul class="taxonomy__index">


  {% for name in group_names %}
    <li>
      <a href="#{{ name | slugify }}">
        <strong>{{ name }}</strong> <span class="taxonomy__count">{{ i }}</span>
      </a>
    </li>
    {% endfor %}

</ul><h3>

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h4 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h4>
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% for post in posts %}
    <h4>{% include archive-single.html %}<h4>
  {% endfor %}
</div>
<a href="#techniques" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_techqniues | default: 'Back to techniques' }} &uarr;</a>
{% endfor %}



      <a name="technology"> </a>
      <h3>Project Tags: Technologies<h3>

            {% include base_path %}
            {% include group-by-array collection=site.posts field="techtags" %}

          <h3><ul class="taxonomy__index">


              {% for name in group_names %}
                <li>
                  <a href="#{{ name | slugify }}">
                    <strong>{{ name }}</strong> <span class="taxonomy__count">{{ i }}</span>
                  </a>
                </li>
                {% endfor %}

        </ul><h3>

            {% for tag in group_names %}
              {% assign posts = group_items[forloop.index0] %}
              <h4 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h4>
              <div class="entries-{{ page.entries_layout | default: 'list' }}">
              {% for post in posts %}
                <h4>{% include archive-single.html %}<h4>
              {% endfor %}
            </div>
            <a href="#technology" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_technologies | default: 'Back to technologies' }} &uarr;</a>
            {% endfor %}



















<a name="data"> </a>
<h3>Project Tags: Data<h3>

      {% include base_path %}
      {% include group-by-array collection=site.posts field="datatags" %}

      <!-- <ul class="taxonomy__index">
      {% for tag in group_names %}
        {% assign posts = group_items[forloop.index0] %}
        <li>
          <a href="#{{ tag | slugify }}"><strong>{{ tag }}</strong><span class="taxonomy__count">{{ '' }}</span>
          </a>
        </li>
      {% endfor %}
    </ul> -->

    <h3><ul class="taxonomy__index">


        {% for name in group_names %}
          <li>
            <a href="#{{ name | slugify }}">
              <strong>{{ name }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
          </li>
          {% endfor %}

  </ul><h3>

      {% for tag in group_names %}
        {% assign posts = group_items[forloop.index0] %}
        <h4 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h4>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for post in posts %}
          <h4>{% include archive-single.html %}<h4>
        {% endfor %}
      </div>
      <a href="#data" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_data | default: 'Back to Data Tags' }} &uarr;</a>
      {% endfor %}
