---
layout: archive
title: Projects listed by Data Science Process
---

{{ content }}

<h1>Chris Chung<h1>

<h2>Data Science Project Portfolio<h2>

<h4>Chris Chung is a data scientist with a background in retail who focuses on
solving problems in the video game industry. Specifically, Chris uses Python and SQL to solve problems
and generate insights to improve player retention and scale data systems.<br><br>

This data science portfolio is comprised of projects covering the full spectrum of the data science process. This portfolio’s projects apply Python and SQL within a data science context to provide value to computer game companies.<br><h4>


<h2>Projects Listed by Data Science Process<h2>

<h3>1. Import Data<h3>

  <h5>{% for post in site.categories['Import Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>2. Store Data<h3>

  <h5>{% for post in site.categories['Store Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>3. Extract Data<h3>

  <h5>{% for post in site.categories['Extract Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>4. Organize<h3>

  <h5>{% for post in site.categories['Organize Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>5. Tidy<h3>

  <h5>{% for post in site.categories['Tidy Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>6. Transform Data<h3>

  <h5>{% for post in site.categories['Transform Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>7. Visualize Data<h3>

  <h5>{% for post in site.categories['Visualize Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>8. Model Data<h3>

  <h5>{% for post in site.categories['Model Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>9. Coding Model<h3>

  <h5>{% for post in site.categories['Coding Model'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>10. Understand the Data<h3>

  <h5>{% for post in site.categories['Understand the Data'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>11. Communication<h3>

  <h5>{% for post in site.categories['Communication'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
  {% endfor %}

<h3>12. Next Steps<h3>

<h5>{% for post in site.categories['Next Steps'] %}<h5>
 <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
{% endfor %}

<h3>13. Document<h3>

  <h5>{% for post in site.categories['Document'] %}<h5>
   <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span>
   {% endfor %}



<h2>Project Tags<h2>

  <h3>Project Tags: Tools <h3>
<!-- tags.html -->

    {% assign tags_max = 0 %}
    {% for tag in site.tags %}
      {% if tag[1].size > tags_max %}
        {% assign tags_max = tag[1].size %}
      {% endif %}
    {% endfor %}

    <ul class="taxonomy__index">
      {% for i in (1..tags_max) reversed %}
        {% for tag in site.tags %}
          {% if tag[1].size == i %}
            <li>
              <a href="#{{ tag[0] | slugify }}">
                <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>

    {% for i in (1..tags_max) reversed %}
      {% for tag in site.tags %}
        {% if tag[1].size == i %}
          <id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">


        {% endif %}
      {% endfor %}
    {% endfor %}


    <h3>Project Tags: Techniques<h3>

      {% assign tooltags_max = 0 %}
      {% for tooltag in site.tooltags %}
        {% if tooltag[1].size > tooltags_max %}
          {% assign tooltags_max = tooltag[1].size %}
        {% endif %}
      {% endfor %}

      <ul class="taxonomy__index">
        {% for i in (1..tooltags_max) reversed %}
          {% for tooltag in site.tooltags %}
            {% if tooltag[1].size == i %}
              <li>
                <a href="#{{ tooltag[0] | slugify }}">
                  <strong>{{ tooltag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>

      {% for i in (1..tooltags_max) reversed %}
        {% for tooltag in site.tooltags %}
          {% if tooltag[1].size == i %}
            <id="{{ tooltag[0] | slugify | downcase }}" class="taxonomy__section">


          {% endif %}
        {% endfor %}
      {% endfor %}


      <h3>Project Tags: Data<h3>
