---
layout: archive
---

{{ content }}

<h1>Chris Chung<h1>
<h2>Data Science Project Portfolio<h2>
  <br/>
  <p>Chris Chung is a data scientist with a background in retail who focuses on
    solving problems in the video game industry. Specifically, Chris uses Python and Spark to solve problems
    and generate insights to improve player retention and scale data systems using Tableau, AWS and regression.</p>
    <br/>
  <p>This data science portfolio is comprised of projects covering the full spectrum of the data science process. This portfolio’s projects apply Python and Spark within a data science context to provide value to computer game companies using Tableau, AWS and regression.</p>
  <br/>
  <br/>

  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
          <h2 class="archive__subtitle">{{ tag[0] }}</h2>
          <div class="entries-{{ page.entries_layout | default: 'list' }}">
            {% for post in tag.last %}
              {% include archive-single.html type=page.entries_layout %}
            {% endfor %}
          </div>
          <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
        </section>
      {% endif %}
    {% endfor %}
  {% endfor %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
